<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 https://maven.apache.org/xsd/maven-4.0.0.xsd">

	<modelVersion>4.0.0</modelVersion>

	<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>${springBootVersion}</version>
		<relativePath/> <!-- lookup parent from repository -->
	</parent>

	<groupId>org.springframework.geode</groupId>
	<artifactId>spring-geode-samples-parent</artifactId>
	<version>${version}</version>
	<packaging>pom</packaging>

	<name>Spring Geode Samples Parent</name>
	<description>Parent Maven POM for Spring Geode Samples.</description>

	<repositories>
		<repository>
			<id>spring-libs-snapshot</id>
			<name>Spring libs-snapshot Repository</name>
			<url>https://repo.spring.io/libs-snapshot</url>
		</repository>
	</repositories>

	<pluginRepositories>
		<pluginRepository>
			<id>spring-plugins</id>
			<name>Spring Plugins Repository</name>
			<url>https://repo.spring.io/libs-snapshot</url>
		</pluginRepository>
	</pluginRepositories>

	<dependencyManagement>
		<dependencies>

			<dependency>
				<groupId>org.springframework.geode</groupId>
				<artifactId>spring-geode-starter</artifactId>
				<version>${version}</version>
			</dependency>

			<dependency>
				<groupId>org.springframework.geode</groupId>
				<artifactId>spring-geode-starter-logging</artifactId>
				<version>${version}</version>
			</dependency>

			<dependency>
				<groupId>org.springframework.geode</groupId>
				<artifactId>spring-geode-starter-test</artifactId>
				<version>${version}</version>
			</dependency>

		</dependencies>
	</dependencyManagement>

	<dependencies>

		<dependency>
			<groupId>org.assertj</groupId>
			<artifactId>assertj-core</artifactId>
		</dependency>

		<dependency>
			<groupId>org.projectlombok</groupId>
			<artifactId>lombok</artifactId>
		</dependency>

		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-test</artifactId>
			<scope>test</scope>
			<exclusions>
				<exclusion>
					<groupId>org.junit.vintage</groupId>
					<artifactId>junit-vintage-engine</artifactId>
				</exclusion>
			</exclusions>
		</dependency>

	</dependencies>

	<build>
		<plugins>
			<plugin>
				<groupId>org.codehaus.mojo</groupId>
				<artifactId>properties-maven-plugin</artifactId>
				<version>1.0.0</version>
				<executions>
					<execution>
						<phase>initialize</phase>
						<goals>
							<goal>read-project-properties</goal>
						</goals>
						<configuration>
							<files>
								<file>../../../gradle.properties</file>
							</files>
						</configuration>
					</execution>
				</executions>
			</plugin>
		</plugins>
	</build>

</project>
