.DS_Store
bin/
build/
out/
target/
.bak/
.idea/
.settings/
_site/
*.dat
.gradle
*.lk
.springBeans
*.iml
*.ipr
*.iws
*.log
.classpath
.project
deps*

/samples/hello-world/vf.gf.dmn-events.cfg
/samples/hello-world/vf.gf.dmn-license.cfg
/vf.gf.dmn-events.cfg
/vf.gf.dmn-events.txt
/vf.gf.dmn-license.cfg

/BACKUP*
